@charset "utf-8";
/* CSS Document */

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
body {
    padding: 10px;
}

#main {
	text-align: center;	border: 1px solid #000000;
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-gap: .5em;
}

#attendance {
    border-collapse: collapse;
    width: 100%;

}

#attendance th, td {
    border: 1px solid #000000;
    padding: 8px;
}

#attendance tr:nth-child(even){
    background-color: #f2f2f2;
}

#attendance tr:hover {
    background-color: #ddd;
}

#attendance th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f7f59d;
  color: #000000;
  text-align: center;
}

.hoursDay {
    width: 30px;
}
